.inputZoom {
    border-radius: 8px;
    height: 4px;
    width: 150px;
    outline: none;
    -webkit-appearance: none;
}

.inputFileAvatar {
   background-color: #232329;
   border:none;
   font-size: small;
    
}


input:hover {
    background-color: transparent;
}


input[type='range']::-webkit-slider-thumb {
    width: 8%;
    -webkit-appearance: none;
    height: 12px;
    background: rgb(247, 222, 80);
    border-radius: 100%;
  }

  input[type="file" ] {
    display: none;
}

.labelAvatar {
    padding: 1%;
    width: 20%;
    background-color: #2A2A31;
    border-radius: 3%;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 1%;
    cursor: pointer;
    border: solid;
   border-color: rgb(247, 222, 80);
}

